{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Department Management System</h1>
    <table>
        <tr>
            <th>Sr.No</th>
            <th>Department Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for dept in department %}
        <tr>
            <td>{{ dept.dept_id }}</td>
            <td>{{ dept.dept_name }}</td>
            <td>{{ dept.description }}</td>
            <td>
                <button><a href="edit/{{ dept.dept_id }}">Edit</a></button>
            </td>
            <td>
                <button class="delete"><a href="delete/{{ dept.dept_id }}">Delete</a></button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}