{% extends 'base.html' %}
{% load static %}

{% block title %}Department List{% endblock %}

{% block content %}
    <h1>Department List</h1>
    <table>
        <tr>
            <th>Sr.No</th>
            <th>Department Name</th>
            <th>Description</th>

        </tr>
        {% for dept in department %}
        <tr>
            <td>{{ dept.dept_id }}</td>
            <td>{{ dept.dept_name }}</td>
            <td>{{ dept.description }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}